html {
  height: 100%;
  width: 100%;
}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
    width: 9vw;
}
.row{
  margin:8px;
}
.row input{
  font-size: 28px;
    margin: 20px 10px;
    padding: 2px;
    width: 38vw;
    border-radius: 5px;
    border: 2px solid black;
}

